* {
    box-sizing: border-box;
}

/*** Body ***/
body {
  background: #638399;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff;
}

/*** Links ***/
a {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: #4C3B22;
}

a.light {
	color: #ACCEE5;
}

a.body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #4C3B22;	
}

a.body:hover {
	color: #ACCEE5;
}

a.body:active {
	color: #FFF;
}

/*** Headings ***/
.h1name {
	font-family: Georgia, serif;
	font-size: 300%;
	font-weight: bold;
	color: #2A3E4C;
	padding-left: 15px;
	padding-bottom: 15px;
	text-shadow: 0 0 23px rgba(172, 206, 229, 0.7); 
}

h3 {
	font-family: "Courier New", Courier, monospace;
}

h4.overlayText {
	padding: 20px 275px;
}

h4.h4Underline {
	text-decoration: underline;
}

/*** Alignment ***/

.linkAlign { /* Aligns to center */
	padding-top: 20px;
	text-align: center;
}

.iconAlign { /* Aligns to center */
	padding-top: 20px;
	padding-left: 45%;
}

.noPadding {
	padding-right: 0;
	padding-left: 0;
}

.topPadding {
	padding-top: 10px;
}

.colSpace {
	padding-right: 65px;
}

.textContainer { 
    height: 50px; 
    line-height: 26px;
}

.textContainer h3{
    vertical-align: middle;
    display: inline-block;
}

.h1Container { 
    height: 91px; 
    line-height: 61px;
}

.h1Container h1{
    vertical-align: middle;
    display: inline-block;
}

.h4Container { 
    height: 59px; 
    line-height: 19px;
}

.h4Container h4{
    vertical-align: middle;
    display: inline-block;
}

.picContainer {
	padding-top: 12px;
}

.rtPadding {
	padding-right: 0;
}


/*** Borders ***/

.borderRow {
	padding: 15px 0;
	border-bottom: 5px solid #ACCEE5;
}

.borderRowNews {
	padding: 15px 0;
	border-bottom: 3px solid #ACCEE5;
	line-height: 175%;
}

.blockA {
	border: 2px solid #638399;
}

.boxLines {
	border-right: 2px solid #fff;
    margin-right: 7px;
	width: 45px;
    float: left;
}

/*** Line space ***/
p.big {
	line-height: 300%;
	padding: 20px;
}

img.glow {
	box-shadow: 0px 0px 15px #fff;
}

/*** Color ***/
.black {
	color: black;
	font-size: 2.8em;
	vertical-align: top;
}

.whiteBk {
	background: #fff;
	color: #2A3E4C;
	padding: 25px;
}

p.dark {
	color: #2A3E4C;
}

.dark {
	color: #2A3E4C;
}

.darkBold {
	color: #2A3E4C;
	font-size: 1.2em;
	font-weight: bold;
}

/*** Overlay ***/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}